body{
  margin:15px;
}
  

#Cancer, #Hospital, #Hforetak {
  height: 180px;
}


.input {
  float: left;
  width: 260px;
  margin-right: 20px;
}


.output>div {
  overflow-y:hidden;
}


.shiny-output-error {
  visibility: hidden;
}

.wPanel {
  width: 260px;
  min-height: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
